{{ form_start(form) }}
<div class="form-group">
    <div class="row g-3">
        <div class="col-md-4">
            {{ form_label(form.nombre, 'Nombre') }}
            {{ form_widget(form.nombre) }}
            <small class="form-error">
                {{ form_errors(form.nombre) }}
            </small>
        </div>
        <div class="col-md-4">
            {{ form_label(form.apellido, 'Apellido') }}
            {{ form_widget(form.apellido) }}
            <small class="form-error">
                {{ form_errors(form.apellido) }}
            </small>
        </div>
        <div class="col-md-4">
            {{ form_label(form.tel, 'Teléfono') }}
            {{ form_widget(form.tel) }}
            <small class="form-error">
                {{ form_errors(form.tel) }}
            </small>
        </div>
        <div class="col-md-4">
            {{ form_label(form.dni, 'DNI') }}
            {{ form_widget(form.dni) }}
            <small class="form-error">
                {{ form_errors(form.dni) }}
            </small>
        </div>
        <div class="col-md-4">
            {{ form_label(form.email, 'Email') }}
            {{ form_widget(form.email) }}
            <small class="form-error">
                {{ form_errors(form.email) }}
            </small>
        </div>
        <div class="col-md-4">
            {{ form_label(form.precioHora, 'Precio/Hora') }}
            {{ form_widget(form.precioHora) }}
            <small class="form-error">
                {{ form_errors(form.precioHora) }}
            </small>
        </div>
        <div class="col-md-4">
            {{ form_label(form.viatico, 'Viaticos') }}
            {{ form_widget(form.viatico) }}
            <small class="form-error">
                {{ form_errors(form.viatico) }}
            </small>
        </div>
    </div>
    <div class="row g-3">
            {#{{ form_label(form.curso, 'Cursos') }} &nbsp;&nbsp;&nbsp;<small class="form-error">{% if error_curso is defined %}{{ error_curso }} {% endif %}</small>
            {{ form_widget(form.curso) }}
            <small class="form-error">
                {{ form_errors(form.curso) }}
            </small>#}
            <div class="col-sm-8">
                {% for child in form.curso.children %}
                    <div class="group-15">
                        <div class="custom-control custom-checkbox custom-checkbox-primary">
                           {{ form_widget(child, {'attr': {'class': 'custom-control-input'}}) }}
                           <label class="custom-control-label" for="{{ child.vars.id }}" >{{ child.vars.label }}</label>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="col-sm-4">
                <small class="form-error">{% if error_curso is defined %}{{ error_curso }} {% endif %}</small>
            </div>
    </div>
    <div class="row g-3">
        <div class="col-md-12" style="text-align: right;">
            <button class="btn btn-success">{{ button_label|default('Save') }}</button>
        </div>
    </div>
</div>
{{ form_end(form) }}
