{% extends 'base.html.twig' %}

{% block title %}Asistencias{% endblock %}
    {% block body %}
        <h1>Asistencias</h1>
        <br>
        <div class="row">
            <div class="col-md-12">
                <label for="filtroFechas">Semana del:</label>
                <input type="text" id="filtroFechas" name="daterange" value="{{ firstday }}"/>
            </div>
        </div>
        <br>
        <table class="table">
            <thead>
            <tr>
                <th>cursos</th>
                {% for fechas in rango %}
                    <th>{{ fechas }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for curso in cursos %}
                <tr>
                    <td>{{ curso.nombre }}</td>
                    {% for key, fecha in rango %}
                        {% if (key == 0) %}
                            {% set key = 'Lunes' %}
                        {% elseif (key == 1) %}
                            {% set key = 'Martes' %}
                        {% elseif (key == 2) %}
                            {% set key = 'Miercoles' %}
                        {% elseif (key == 3) %}
                            {% set key = 'Jueves' %}
                        {% elseif (key == 4) %}
                            {% set key = 'Viernes' %}
                        {% elseif (key == 5) %}
                            {% set key = 'Sábado' %}
                        {% elseif (key == 6) %}
                            {% set key = 'Domingo' %}
                        {% endif %}
                        <td>
                            {% if key in curso.dias %}
                                {% for profe in curso.profesores %}
                                    {% set btnClass = 'btn-success' %}
                                    <div class="dropdown">
                                        {% if asistencias[curso.id][fecha][profe.id] is defined %}
                                            {% if not asistencias[curso.id][fecha][profe.id].presente %}
                                                {% set btnClass = 'btn-danger' %}
                                                {% set reemplazante = asistencias[curso.id][fecha][profe.id].reemplazante %}
                                            {% endif %}
                                        {% endif %}
                                        <button class="btn {{ btnClass }} btn-sm dropdown-toggle btn-profes" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                            {{ profe.apellido }}
                                            {% if  reemplazante is defined %}
                                                <br><i style="color: yellow;">{{ reemplazante }}</i>
                                            {% endif %}
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                            <li><h6 class="dropdown-header">Reemplazó:</h6></li>
                                            <li >
                                                <a href="{{ path('falta_profe', {'id': profe.id, 'remplazo': 0, 'fecha': fecha, 'curso': curso.id}) }}" class="dropdown-item">sin reemplazo</a>
                                            </li>
                                            {% for profeInner in todosLosProfes %}
                                                {% if profeInner.id != profe.id %}
                                                    <li >
                                                        <a href="{{ path('falta_profe', {'id': profe.id, 'remplazo': profeInner.id, 'fecha': fecha, 'curso': curso.id}) }}" class="dropdown-item">{{ profeInner.apellido }}</a>
                                                    </li>
                                                {% endif %}
                                            {% endfor %}
                                            <li><hr class="dropdown-divider"></li>
                                            <li >
                                                <a href="{{ path('falta_profe', {'id': profe.id, 'remplazo': -1, 'fecha': fecha, 'curso': curso.id}) }}" class="dropdown-item">Limpiar falta</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <br>
                                {% endfor %}
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(function() {
            $('input[name="daterange"]').daterangepicker({
                opens: 'left',
                singleDatePicker: true,
                locale: {
                    format: 'YYYY/MM/DD'
                }
            }, function(start, end, label) {
                location.href = "{{ path('asistencias') }}?desde=" + start.format('YYYY/MM/DD');
            });
        });
    </script>
{% endblock %}

