{% extends 'base.html.twig' %}

{% block title %}Profesor index{% endblock %}

{% block body %}
    <h1>Profesores</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Telefono</th>
                <th>Cursos</th>
                <th>Precio/Hora</th>
                <th>Viatico</th>
                <th colspan="2">Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for profesor in profesors %}
            <tr>
                <td>{{ profesor.nombre }}</td>
                <td>{{ profesor.apellido }}</td>
                <td>{{ profesor.tel }}</td>
                <td>
                    {% for curso in profesor.curso %}
                        <a href="{{ path('app_curso_edit', {'id': curso.id}) }}">{{ curso.nombre }}</a><br>
                    {% endfor %}
                </td>
                <td>
                    ${{ profesor.precioHora }}
                </td>
                <td>${{ profesor.viatico }}</td>
                <td>
                    <a href="{{ path('app_profesor_show', {'id': profesor.id}) }}"><i class="bi bi-eye"></i></a>
                    <a href="{{ path('app_profesor_edit', {'id': profesor.id}) }}"><i class="bi bi-pencil"></i></a>
                </td>
                <td>
                    {{ include('profesor/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">No se encontraron registros</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="8">
                    <nav aria-label="...">
                        <ul class="pagination">
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item active" aria-current="page">
                                <a class="page-link" href="#">2</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#">Next</a>
                            </li>
                        </ul>
                    </nav>
                </td>
            </tr>
        </tfoot>
    </table>

    <a href="{{ path('app_profesor_new') }}"class="btn btn-success">Nuevo Profesor</a>
{% endblock %}
