{% extends 'base.html.twig' %}

{% block title %}Informes{% endblock %}


    {% block panelTitle %}
        Sistema de Administración de Dream Ingles
    {% endblock %}
    {% block body %}
        <br>
        <h1>Informes</h1>
        <br>
        <div class="row">
            <div class="col-md-6">
                <label for="filtroFechas">Desde/Hasta</label>
                <input type="text" id="filtroFechas" name="daterange" value="{{ desde }}"/>
            </div>
        </div>
        <br>
        <table class="table table-striped table-responsive">
            <thead>
                <tr>
                    <th scope="col">Profes</th>
                    {% for fechas in rango %}
                        <th scope="col" class="border-start text-center">{{ fechas }}</th>
                    {% endfor %}
                    <th scope="col">Total Faltas</th>
                    <th scope="col">Total Horas</th>
                    <th scope="col">$</th>
                </tr>
            </thead>
            <tbody>
                {% for profe, asistencia in asistencias %}
                    {% set totalFaltas = 0 %}
                    {% set totalHoras = 0 %}
                    {% if profe != 'reemplazantes' %}
                        <tr scope="row">
                            <th>
                                {{ profe }}
                            </th>
                            {% for fechas in rango %}
                                <td class="border-start text-center" id="{{ profe }}-{{ fechas }}" style="padding: 0;">
                                    {% if asistencia[fechas] is defined %}
                                        {% if asistencia[fechas] | length > 0  %}
                                            {% for asis in asistencia[fechas] %}
                                                {% if asis['falta'] is defined and asis['falta']%}
                                                        <i style="font-size: 25px; color: red"
                                                           class="bi bi-x"
                                                           data-toggle="tooltip"
                                                           title="{% if asis['remplazante'] is defined %} Fue reemplazado por {{ asis['remplazante'] }} {% else %} Sin Reemplazo  {% endif %} en {{ asis['curso'] }}"></i>
                                                        {% set totalFaltas = totalFaltas + asis['horas'] %}
                                                        {% if asistencia[fechas] | length > 1  %}
                                                            <br>
                                                        {% endif %}
                                                    {% elseif asis["reemplazo"] is defined %}
                                                        <i style="font-size: 25px; color: green" class="bi bi-check" data-toggle="tooltip" title="{{ asis["reemplazo"]['reemplazoA'] }}"></i>
                                                        {% set totalHoras = totalHoras + asis['reemplazo']['horas'] %}
                                                    {% else %}
                                                        <i style="font-size: 25px; color: green" class="bi bi-check" data-toggle="tooltip" title="{{ asis['curso'] }}"></i>
                                                        {% set totalHoras = totalHoras + asis['horas'] %}
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    {% endif %}
                                </td>
                            {% endfor %}
                            <td>
                                {{ totalFaltas }}
                            </td>
                            <td>
                                {{ totalHoras }}
                            </td>
                            <td>
                                {% if asistencia['precioHora'] is defined %}
                                    ${{ totalHoras * asistencia['precioHora'] }}
                                {% endif %}
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>

        <script>
            $(function() {
                $('input[name="daterange"]').daterangepicker({
                    opens: 'left',
                    startDate: '{{ desde }}',
                    endDate: '{{ hasta }}',
                    locale: {
                        format: 'YYYY/MM/DD'
                    }
                }, function(start, end, label) {
                    location.href = "{{ path('informes') }}?desde=" + start.format('YYYY/MM/DD') + "&hasta=" + end.format('YYYY/MM/DD');
                });
            });

            $(document).ready(function(){
                $("[data-toggle=tooltip]").tooltip({ placement: 'right'});
            });
        </script>
    {% endblock %}