<!-- Sidebar -->
<div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">Dreams Ingles </div>
    <div class="list-group list-group-flush">
        <a class="list-group-item list-group-item-action bg-light " href="{{ path('dashboard_index') }}">
            <i class="bi bi-bar-chart"></i> Dashboard
        </a>
        <a class="list-group-item list-group-item-action bg-light " href="{{ path('app_alumno_index') }}">
            <i class="bi bi-people"></i> Alumnos
        </a>
        <a class="list-group-item list-group-item-action bg-light " href="{{ path('app_profesor_index') }}">
            <i class="bi bi-briefcase"></i> Profesores
        </a>
        <a class="list-group-item list-group-item-action bg-light " href="{{ path('app_user_index') }}">
            <i class="bi bi-person-lines-fill"></i> Usuarios
        </a>
        <a class="list-group-item list-group-item-action bg-light " href="{{ path('app_logout') }}">
            <i class="bi bi-arrow-bar-left"></i> Salir
        </a>
    </div>
</div>
<!-- /#sidebar-wrapper -->
