{{ form_start(form) }}
<div class="form-group">
    <div class="row g-3">
        <div class="col-md-6">
            {{ form_label(form.nombre, 'Nombre') }}
            {{ form_widget(form.nombre) }}
            <small class="form-error">
                {{ form_errors(form.nombre) }}
            </small>
        </div>
        <div class="col-md-6">
            {{ form_label(form.precio, 'Precio') }}
            {{ form_widget(form.precio) }}
            <small class="form-error">
                {{ form_errors(form.precio) }}
            </small>
        </div>
    </div>
    <div class="row g-3">
        <div class="col-md-6">
            {{ form_label(form.dias, 'Dias') }}
            {{ form_widget(form.dias) }}
            <small class="form-error">
                {{ form_errors(form.dias) }}
            </small>
        </div>
        <div class="col-md-6">
            {{ form_label(form.duracion, 'Duracion') }}
            {{ form_widget(form.duracion) }}
            <small class="form-error">
                {{ form_errors(form.duracion) }}
            </small>
        </div>

    </div>
    <div class="row g-3">
        <div class="col-md-10" style="text-align: right;">
            <button class="btn btn-success">{{ button_label|default('Save') }}</button>
        </div>
    </div>
</div>
{{ form_end(form) }}
