{% extends 'base.html.twig' %}

{% block title %}Dashboard index{% endblock %}


    {% block panelTitle %}
        Sistema de Administración de Dream Ingles
    {% endblock %}
    {% block body %}
    <div class="mt-4">
        <div class="mt-3 mb-1 row">
            <div class="col-6">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Deudas</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pagos-tab" data-bs-toggle="tab" data-bs-target="#pagos" type="button" role="tab" aria-controls="pagos" aria-selected="false">Últimos Pagos</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="cursos-tab" data-bs-toggle="tab" data-bs-target="#cursos" type="button" role="tab" aria-controls="cursos" aria-selected="false">Cursos</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="porcentajes-tab" data-bs-toggle="tab" data-bs-target="#porcentajes" type="button" role="tab" aria-controls="porcentajes" aria-selected="false">Porcentajes</button>
                    </li>
                </ul>
            </div>
            <div class="col-4 pt-1">
                <form method="get" action="{{ path('dashboard_index') }}">
                    <div class="input-group ">
                        <input name="action" type="hidden" class="form-control" value="pagos">
                        <input name="busqueda" type="text" class="form-control" placeholder="Buscar por Nombre y Apellido" value="{{ busqueda }}" aria-label="Recipient's username" aria-describedby="button-addon2">
                        <button class="btn btn-outline-secondary" type="submit" id="button-addon2"><i class="bi bi-search"></i></button>
                    </div>
                </form>
            </div>
            <div class="col-2">
                <div class="input-group mb-3 pt-1">
                    <a class="btn btn-success" href="{{ path('dashboard_index', {'action': 'pagos', 'busqueda': ''}) }}">todos</a>
                </div>
            </div>
        </div>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade collapse show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <table class="table h-50 table-striped table-hover">
                    <thead>
                    <tr class="cabecera">
                        <th>Nombre y Apellido</th>
                        <th>Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for deudor in deudores %}
                        <tr>
                            <td>{{ deudor.nombre }} {{ deudor.apellido }}</td>
                            <td>
                                <a class="btn btn-primary" href="{{ path('app_alumnos_pagos_index', {'alumno': deudor.id}) }}">Ver pagos</a>
                                <a class="btn btn-secondary" href="{{ path('app_alumnos_pagos_new', {'alumno': deudor.id}) }}">Ingresar pago</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="3">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade collapse" id="pagos" role="tabpanel" aria-labelledby="pagos-tab">
                <table class="table h-50">
                    <thead>
                    <tr>
                        <td colspan="3">
                            <form action="{{ path('dashboard_index', {'action': 'pagos'}) }}" >
                            <div class="row">
                                <div class="col">
                                    <label for="filtroFechas">Desde/Hasta:</label>
                                    <input class="form-control" type="text" id="filtroFechas" name="daterange"/>&nbsp;&nbsp;&nbsp;
                                </div>
                                <div class="col">
                                    <label for="filtroFechas">Registros por página:</label>
                                    <select class="form-control" id="registros" >
                                        <option {% if max == 50 %} selected {% endif%} value="50">50</option>
                                        <option {% if max == 100 %} selected {% endif%} value="100">100</option>
                                        <option {% if max == '' %} selected {% endif%} value="">Todos</option>
                                    </select>
                                </div>
                            </div>
                            </form>
                        </td>
                    </tr>
                    <tr class="cabecera">
                        <th>Fecha</th>
                        <th>Monto</th>
                        <th>Mes</th>
                        <th>Año</th>
                        <th>Alumno</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for alumnos_pago in alumnos_pagos %}
                        <tr>
                            <td>{{ alumnos_pago.fecha ? alumnos_pago.fecha|date('Y-m-d') : '' }}</td>
                            <td>{{ alumnos_pago.monto }}</td>
                            <td>{{ alumnos_pago.mes }}</td>
                            <td>{{ alumnos_pago.ano }}</td>
                            <td>{{ alumnos_pago.alumno.nombre }} {{ alumnos_pago.alumno.apellido }}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="3">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade collapse" id="cursos" role="tabpanel" aria-labelledby="cursos-tab">
                <table class="table h-50 table-striped table-hover">
                    <thead>
                        <tr class="cabecera">
                            <th>Nombre</th>
                            <th>Alumnos Activos</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for curso in cursos %}
                        <tr>
                            <td>{{ curso.nombre }}</td>
                            <td>
                                <a href="{{ path('app_alumno_index', {'activo': 1}) }}&cursoSelected={{ curso.id }}">
                                    {{ curso.alumnosActivos | length }}
                                </a>
                                {#<a class="btn btn-primary" href="{{ path('app_alumnos_pagos_index', {'alumno': deudor.id}) }}">Ingresar pago</a>
                                <a class="btn btn-secondary" href="{{ path('app_alumnos_pagos_new', {'alumno': deudor.id}) }}">Ver pagos</a>#}
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="3">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade collapse" id="porcentajes" role="tabpanel" aria-labelledby="porcentajes-tab">
                <div class="row">
                    <div class="col-4">
                        <canvas id="myChart" width="50%" height="50%"></canvas>
                    </div>
                </div>

            </div>
        </div>

    </div>
    {% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script>
    <script>
        $(document).ready(function(){

            const ctx = document.getElementById('myChart');
            const myChart = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: ['Pagaron antes del 20', 'Pagaron después del 20'],
                    datasets: [{
                        label: 'Cuotas',
                        data: [{{ atiempo }}, {{ fueraDeTiempo }}],
                        backgroundColor: [
                            'rgba(255,27,83,0.45)',
                            'rgba(75,192,192,0.45)',
                        ],
                        borderColor: [
                            'rgba(255, 27, 83, 1)',
                            'rgba(75, 192, 192, 1)',
                        ],
                        borderWidth: 1
                    }],
                    options: {
                        plugins: {
                            legend: {
                                position: 'right',
                            }
                        }
                    }

                },
            });

            $('#{{ action }}-tab').click()

            $('#registros').change( () => {
                location.href = "{{ path('dashboard_index') }}?desde={{ desde }}" + "&hasta={{ hasta }}" + "&busqueda={{ busqueda }}" + "&action=pagos&registros="+$('#registros').val();
            } );

            $('input[name="daterange"]').daterangepicker({
                startDate: '{{ desde }}',
                endDate: '{{ hasta }}',
                locale: {
                    format: 'YYYY/MM/DD'
                }
            }, function(start, end, label) {
                location.href = "{{ path('dashboard_index') }}?desde=" + start.format('YYYY/MM/DD') + "&hasta=" + end.format('YYYY/MM/DD') + "&busqueda={{ busqueda }}" + "&action=pagos&registros="+$('#registros').val();
               });
        })

    </script>
{% endblock %}

